@charset "UTF-8";
@font-face {
  font-family: "myriad normal";
  src: local("myriad-set-pro_text"), url("../fonts/myriad-set-pro_text.woff") format("woff"), url("../fonts/myriad-set-pro_text.eot") format("eot"), url("../fonts/myriad-set-pro_text.ttf") format("ttf"), url("../fonts/myriad-set-pro_text.svg") format("svg");
}

@font-face {
  font-family: "myriad bold";
  src: local("myriad-set-pro_semibold"), url("../fonts/myriad-set-pro_semibold.woff") format("woff"), url("../fonts/myriad-set-pro_semibold.eot") format("eot"), url("../fonts/myriad-set-pro_semibold.ttf") format("ttf"), url("../fonts/myriad-set-pro_semibold.svg") format("svg");
}

@font-face {
  font-family: "myriad thin";
  src: local("myriad-set-pro_thin"), url("../fonts/myriad-set-pro_thin.woff") format("woff"), url("../fonts/myriad-set-pro_thin.eot") format("eot"), url("../fonts/myriad-set-pro_thin.ttf") format("ttf"), url("../fonts/myriad-set-pro_thin.svg") format("svg");
}

@font-face {
  font-family: "myriad sup-thin";
  src: local("myriad-set-pro_extrathin"), url("../fonts/myriad-set-pro_extrathin.woff") format("woff"), url("../fonts/myriad-set-pro_extrathin.eot") format("eot"), url("../fonts/myriad-set-pro_extrathin.ttf") format("ttf"), url("../fonts/myriad-set-pro_extrathin.svg") format("svg");
}

@font-face {
  font-family: "icon text";
  src: local("appieicons_text"), url("../fonts/appieicons_text.woff") format("woff"), url("../fonts/appieicons_text.eot") format("eot"), url("../fonts/appieicons_text.ttf") format("ttf"), url("../fonts/appieicons_text.svg") format("svg");
}

@font-face {
  font-family: "icon thin";
  src: local("appieicons_thin"), url("../fonts/appieicons_thin.woff") format("woff"), url("../fonts/appieicons_thin.eot") format("eot"), url("../fonts/appieicons_thin.ttf") format("ttf"), url("../fonts/appieicons_thin.svg") format("svg");
}

.icon {
  font-family: 'icon text';
  padding-left: 10px;
}

.icon-right::after {
  content: "";
}

.icon-play::after {
  content: "";
}

body, ul, li, h1, h2, h3, h4, h5, h6, a, span, div, p {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 18px;
  font-family: 'myriad sup-thin';
}

ul, li, h1, h2, h3, h4, h5, h6, a, span, div, p {
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  outline: none;
}

input {
  outline: none;
  border: none;
  background: none;
}

.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .with-5-col .col, .with-6-col .col, .with-7-col .col, .with-8-col .col, .with-9-col .col, .with-10-col .col {
  float: left;
  position: relative;
}

@media screen and (max-width: 1600px) {
  .large-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 1600px) {
  .large-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 1600px) {
  .large-3 {
    width: 25%;
  }
}

@media screen and (max-width: 1600px) {
  .large-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 1600px) {
  .large-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 1600px) {
  .large-6 {
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  .large-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 1600px) {
  .large-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 1600px) {
  .large-9 {
    width: 75%;
  }
}

@media screen and (max-width: 1600px) {
  .large-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 1600px) {
  .large-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 1600px) {
  .large-12 {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-3 {
    width: 25%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-6 {
    width: 50%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-9 {
    width: 75%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-12 {
    width: 100%;
  }
}

@media screen and (max-width: 745px) {
  .small-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 745px) {
  .small-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 745px) {
  .small-3 {
    width: 25%;
  }
}

@media screen and (max-width: 745px) {
  .small-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 745px) {
  .small-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 745px) {
  .small-6 {
    width: 50%;
  }
}

@media screen and (max-width: 745px) {
  .small-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 745px) {
  .small-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 745px) {
  .small-9 {
    width: 75%;
  }
}

@media screen and (max-width: 745px) {
  .small-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 745px) {
  .small-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 745px) {
  .small-12 {
    width: 100%;
  }
}

.with-5-col .col {
  width: 20%;
}

@media screen and (max-width: 767px) {
  .with-5-col .col {
    width: 100%;
  }
}

.with-6-col .col {
  width: 16.66667%;
}

@media screen and (max-width: 767px) {
  .with-6-col .col {
    width: 100%;
  }
}

.with-7-col .col {
  width: 14.28571%;
}

@media screen and (max-width: 767px) {
  .with-7-col .col {
    width: 100%;
  }
}

.with-8-col .col {
  width: 12.5%;
}

@media screen and (max-width: 767px) {
  .with-8-col .col {
    width: 100%;
  }
}

.with-9-col .col {
  width: 11.11111%;
}

@media screen and (max-width: 767px) {
  .with-9-col .col {
    width: 100%;
  }
}

.with-10-col .col {
  width: 10%;
}

@media screen and (max-width: 767px) {
  .with-10-col .col {
    width: 100%;
  }
}

.gn-header::after, .banner-slide:after, .banner-inner .dotnav ul:after, .aside::before, .aside::after, .footer .nav::before, .footer .nav::after, .gf-footer .gf-footer-legal:after {
  content: '';
  display: block;
  clear: both;
}

.texthidden {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.gn-apple a {
  width: 40px;
  background: url("../images/apple.svg") center center no-repeat;
}

.gn-mac a {
  width: 51px;
  background: url("../images/mac.svg") center center no-repeat;
}

.gn-ipad a {
  width: 50px;
  background: url("../images/ipad.svg") center center no-repeat;
}

.gn-iphone a {
  width: 68px;
  background: url("../images/iphone.svg") center center no-repeat;
}

.gn-watch a {
  width: 64px;
  background: url("../images/watch.svg") center center no-repeat;
}

.gn-tv a {
  width: 40px;
  background: url("../images/tv.svg") center center no-repeat;
}

.gn-music a {
  width: 60px;
  background: url("../images/music.svg") center center no-repeat;
}

.gn-support a {
  width: 77px;
  background: url("../images/support.svg") center center no-repeat;
}

.gn-search a {
  width: 40px;
  background: url("../images/search.svg") center center no-repeat;
}

.gn-bag a {
  width: 38px;
  background: url("../images/bag.svg") center center no-repeat;
}

.gn-nav {
  width: 100%;
  height: 44px;
  position: relative;
}

@media screen and (max-width: 745px) {
  .gn-nav {
    height: 48px;
  }
}

.gn-nav .gn-content {
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

@media screen and (max-width: 745px) {
  .gn-nav .gn-content {
    height: 48px;
    overflow: hidden;
    transition: height .8s ease;
  }
}

.gn-item a {
  display: inline-block;
  height: 44px;
  opacity: 1;
  transition: opacity ease 0.3s;
}

@media screen and (max-width: 745px) {
  .gn-item a {
    background-size: 80px 55px;
    height: 47px;
  }
}

.gn-item a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.gn-list {
  max-width: 980px;
  height: 44px;
  margin: 0 auto;
  text-align: justify;
}

@media screen and (max-width: 745px) {
  .gn-list {
    width: 100%;
    height: auto;
    padding: 0 48px;
    margin-top: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 8;
  }
  .gn-list li:nth-child(1), .gn-list li:nth-child(10) {
    display: none;
  }
}

.gn-list::after {
  content: '';
  width: 100%;
  display: inline-block;
}

.gn-list .gn-item {
  display: inline-block;
  position: relative;
  height: 44px;
}

@media screen and (max-width: 745px) {
  .gn-list .gn-item {
    display: block;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #333;
    line-height: 47px;
    transform: scale(1.2, 1.2) translateY(-10px);
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

@media screen and (max-width: 745px) {
  .gn-list .gn-search {
    border-bottom-color: #fff;
  }
}

.gn-list .gn-search .search-placeholder {
  display: none;
}

@media screen and (max-width: 745px) {
  .gn-list .gn-search .search-placeholder {
    margin-left: 38px;
    width: 300px;
    height: 47px;
    font-size: 22px;
    color: #fff;
    cursor: text;
  }
}

@media screen and (max-width: 745px) {
  .gn-list li:nth-child(2) {
    transition: transform 0.6s ease 0.16s, opacity 0.3s ease 0.16s;
  }
  .gn-list li:nth-child(3) {
    transition: transform 0.6s ease 0.24s, opacity 0.3s ease 0.24s;
  }
  .gn-list li:nth-child(4) {
    transition: transform 0.6s ease 0.32s, opacity 0.3s ease 0.32s;
  }
  .gn-list li:nth-child(5) {
    transition: transform 0.6s ease 0.4s, opacity 0.3s ease 0.4s;
  }
  .gn-list li:nth-child(6) {
    transition: transform 0.6s ease 0.48s, opacity 0.3s ease 0.48s;
  }
  .gn-list li:nth-child(7) {
    transition: transform 0.6s ease 0.56s, opacity 0.3s ease 0.56s;
  }
  .gn-list li:nth-child(8) {
    transition: transform 0.6s ease 0.64s, opacity 0.3s ease 0.64s;
  }
  .gn-list li:nth-child(9) {
    transition: transform 0.6s ease 0.72s, opacity 0.3s ease 0.72s;
  }
}

.gn-header {
  display: none;
  width: 100%;
  height: 48px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 745px) {
  .gn-header {
    display: block;
  }
}

.gn-header .gn-item {
  float: left;
  position: relative;
  width: 48px;
  height: 48px;
}

.gn-header .gn-item .gn-link {
  width: 100%;
  height: 100%;
  background-size: 48px 48px;
}

.gn-header .gn-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: transform .5s ease;
  transform-origin: 50%;
}

.gn-header .gn-menu label {
  display: block;
  width: 100%;
  height: 100%;
}

.gn-header .gn-menu .shang, .gn-header .gn-menu .xia {
  width: 100%;
  height: 1px;
  background: #fff;
  display: block;
  transition: transform .5s ease .1s;
  transform-origin: 23%;
}

.gn-header .gn-menu .shang {
  margin-top: 10px;
  margin-bottom: 6px;
}

.gn-header .gn-apple {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.gn-header .gn-bag {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform .3s ease .6s;
}

.gn-searchview {
  height: 44px;
  width: 51%;
  margin: auto;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.95);
}

@media screen and (max-width: 745px) {
  .gn-searchview {
    height: 48px;
  }
}

.gn-searchview form {
  height: 44px;
  line-height: 44px;
}

@media screen and (max-width: 745px) {
  .gn-searchview form {
    height: 48px;
  }
}

.gn-searchview form .search-sumbit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 44px;
  cursor: pointer;
  background-size: 20px 44px;
  background: url("../images/search.svg") no-repeat;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

.gn-searchview form .search-input {
  font-size: 16px;
  color: #fff;
  width: 95%;
  margin-left: 5%;
}

.gn-searchview .search-section {
  display: block;
  font-size: 15px;
  line-height: 2;
  background: #fff;
  font-family: 'myriad normal';
  color: #999;
  padding: 24px 40px 15px 40px;
}

.gn-searchview .search-section h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
}

.gn-searchview .search-section ul {
  padding-top: 5px;
}

.gn-searchview .search-section ul li a {
  color: #999;
  display: block;
  padding: 0 10px;
}

#menu {
  display: none;
}

@media screen and (max-width: 745px) {
  #menu:checked + .gn-content {
    height: 800px;
  }
  #menu:checked + .gn-content .gn-header .gn-menu {
    transform: rotate(90deg);
  }
  #menu:checked + .gn-content .gn-header .shang {
    transform: rotate(45deg);
  }
  #menu:checked + .gn-content .gn-header .xia {
    transform: rotate(-45deg);
  }
  #menu:checked + .gn-content .gn-list .gn-search .search-placeholder {
    display: block;
  }
  #menu:checked + .gn-content .gn-list li {
    opacity: 1;
    transform: scale(1, 1) translateY(-10px);
  }
  #menu:checked + .gn-content .gn-header .gn-bag {
    transform: translateX(35px);
  }
}

.banner {
  width: 100%;
  max-height: 606px;
  cursor: pointer;
}

@media screen and (max-width: 745px) {
  .banner {
    min-height: 343px;
  }
}

.banner-inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 606px;
}

@media screen and (max-width: 745px) {
  .banner-inner {
    height: 343px;
  }
}

.banner-slide {
  width: 400%;
  position: absolute;
  top: 0;
  left: -100%;
}

.banner-list {
  width: 25%;
  display: block;
  float: left;
  height: 606px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 745px) {
  .banner-list {
    height: 343px;
  }
}

.banner-list > a {
  width: 100%;
  margin: auto;
  display: block;
}

.copy-inner {
  display: inline-block;
  transform: translate3d(0, 0, 0);
}

.copy-inner h2, .copy-inner h3 {
  margin-bottom: 16px;
  text-align: center;
  font-family: "myriad sup-thin 微软雅黑";
  font-size: 28px;
  color: #666;
}

@media screen and (max-width: 745px) {
  .copy-inner h2, .copy-inner h3 {
    font-size: 20px;
  }
}

.copy-inner h2 a {
  display: inline-block;
  height: 39px;
}

@media screen and (max-width: 745px) {
  .copy-inner h2 a {
    height: 31px;
  }
}

.copy-inner ul {
  text-align: center;
}

.copy-inner .links li {
  margin: 0 8px 8px 5px;
  display: inline-block;
}

.copy-inner .links li a {
  font-family: "myriad thin";
  font-size: 24px;
  color: #08c;
}

.copy-inner .links li a:hover {
  text-decoration: none;
  color: #111;
}

@media screen and (max-width: 745px) {
  .copy-inner .links li a {
    font-size: 20px;
  }
}

.watch_pro > a {
  height: 341px;
  position: absolute;
  right: 0;
  bottom: 60px;
  left: 0;
}

@media screen and (max-width: 745px) {
  .watch_pro > a {
    height: 134px;
  }
}

.watch_pro .copy-inner {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  vertical-align: middle;
  height: auto;
  z-index: 1;
}

@media screen and (max-width: 745px) {
  .watch_pro .copy-inner {
    top: 20px;
  }
}

.watch_pro .copy-inner h2 {
  margin: 0 auto 5px;
}

@media screen and (max-width: 745px) {
  .watch_pro .copy-inner h2 {
    margin-bottom: 16px;
  }
}

.watch_pro .copy-inner h2 a {
  width: 184px;
}

@media screen and (max-width: 745px) {
  .watch_pro .copy-inner h2 a {
    width: 145px;
  }
}

.watch_pro .copy-inner h3 {
  margin: 0 auto 13px;
}

.ipad_pro > a {
  height: 541px;
  position: absolute;
  right: 0;
  bottom: -150px;
  left: 0;
}

@media screen and (max-width: 745px) {
  .ipad_pro > a {
    height: 182px;
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
  }
}

.ipad_pro .copy-inner {
  position: absolute;
  right: 0;
  bottom: 400px;
  left: 0;
  vertical-align: middle;
  z-index: 1;
}

@media screen and (max-width: 745px) {
  .ipad_pro .copy-inner {
    bottom: 170px;
  }
}

.ipad_pro .copy-inner h2 {
  margin: 0 auto 5px;
}

@media screen and (max-width: 745px) {
  .ipad_pro .copy-inner h2 {
    margin-bottom: 16px;
  }
}

.ipad_pro .copy-inner h2 a {
  width: 139px;
}

@media screen and (max-width: 745px) {
  .ipad_pro .copy-inner h2 a {
    width: 145px;
  }
}

.ipad_pro .copy-inner h3 {
  margin: 0 auto 13px;
}

.iphone_pro > a {
  height: 517px;
  position: absolute;
  top: 52px;
  right: 17%;
}

@media screen and (max-width: 745px) {
  .iphone_pro > a {
    width: 200px;
    height: 178px;
    position: absolute;
    top: 60px;
    right: 52%;
  }
}

@media screen and (max-width: 745px) and (max-width: 512px) {
  .iphone_pro > a {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
  }
}

.iphone_pro .copy-inner {
  position: absolute;
  top: 180px;
  right: 25%;
  vertical-align: middle;
  height: auto;
  z-index: 1;
}

@media screen and (max-width: 1068px) {
  .iphone_pro .copy-inner {
    right: 5%;
  }
}

@media screen and (max-width: 745px) {
  .iphone_pro .copy-inner {
    right: 20%;
    top: 70px;
  }
}

@media screen and (max-width: 745px) and (max-width: 512px) {
  .iphone_pro .copy-inner {
    position: absolute;
    top: 165px;
    right: 25%;
  }
}

@media screen and (max-width: 745px) {
  .iphone_pro .copy-inner h2 {
    margin-bottom: 16px;
  }
}

.iphone_pro .copy-inner .links li {
  width: 100%;
  display: block;
}

.iphone_pro .copy-inner h2 a {
  width: 184px;
}

@media screen and (max-width: 745px) {
  .iphone_pro .copy-inner h2 a {
    width: 145px;
  }
}

.ipad_pro > a {
  background: url("../images/ipad_pro_large.jpg") center center no-repeat;
  background-size: 1310px 541px;
}

@media screen and (max-width: 745px) {
  .ipad_pro > a {
    background: url("../images/ipad_pro_small.jpg") center center no-repeat;
    background-size: 440px 182px;
  }
}

.iphone_pro > a {
  background: url("../images/iphone_pro_large.jpg") center center no-repeat;
  background-size: 580px 517px;
}

@media screen and (max-width: 745px) {
  .iphone_pro > a {
    background: url("../images/iphone_pro_small.jpg") center center no-repeat;
    background-size: 200px 178px;
  }
}

.watch_pro > a {
  background: url("../images/watch_pro_large.jpg") center center no-repeat;
  background-size: 671px 341px;
}

@media screen and (max-width: 745px) {
  .watch_pro > a {
    background: url("../images/watch_pro_small.jpg") center center no-repeat;
    background-size: 263px 134px;
  }
}

.ipad_logo > a {
  background: url("../images/ipad_logo_large.png") center center no-repeat;
  background-size: 139px 37px;
}

@media screen and (max-width: 745px) {
  .ipad_logo > a {
    background: url("../images/ipad_logo_small.png") center center no-repeat;
    background-size: 108px 29px;
  }
}

.iphone_logo > a {
  background: url("../images/iphone_logo_large.png") center center no-repeat;
  background-size: 174px 39px;
}

@media screen and (max-width: 745px) {
  .iphone_logo > a {
    background: url("../images/iphone_logo_small.png") center center no-repeat;
    background-size: 138px 31px;
  }
}

.watch_logo > a {
  background: url("../images/watch_logo_large.png") center center no-repeat;
  background-size: 184px 39px;
}

@media screen and (max-width: 745px) {
  .watch_logo > a {
    background: url("../images/watch_logo_small.png") center center no-repeat;
    background-size: 145px 31px;
  }
}

.banner-inner .dotnav {
  width: 100%;
  height: 26px;
  position: absolute;
  bottom: 2%;
  left: 0;
  z-index: 3;
  text-align: center;
}

.banner-inner .dotnav ul {
  display: inline-block;
}

.banner-inner .dotnav .circle {
  width: 8px;
  height: 8px;
  float: left;
  margin: 0 10px;
  background: #999;
  border-radius: 50%;
}

.banner-inner .dotnav .circle:nth-child(1) {
  background: none;
  border: 1px solid #08c;
}

.banner-inner .dotnav .blue {
  background: none;
  border: 1px solid #08c;
}

.banner-inner .arrow {
  font-family: 'myriad thin';
  width: 67px;
  height: 128px;
  position: absolute;
  text-align: center;
  color: #666;
  display: block;
  font-size: 72px;
  opacity: 0;
  transition: 250ms opacity linear, 250ms color linear, 250ms background-color linear;
  line-height: 128px;
  top: 35%;
  cursor: pointer;
}

.banner-inner .arrow:hover {
  opacity: 1;
}

.banner-inner:hover button {
  opacity: 0.5;
}

.banner-inner .arrow-prev {
  left: 18px;
}

.banner-inner .arrow-prev:after {
  content: "〈";
}

.banner-inner .arrow-next {
  right: 18px;
}

.banner-inner .arrow-next:after {
  content: "〉";
}

.aside {
  margin: 0 auto;
}

.aside li {
  float: left;
  box-sizing: border-box;
}

.aside li a {
  display: block;
  height: 200px;
  background-position: center center;
  background-size: 360px 200px;
  background-repeat: no-repeat;
}

.aside li:nth-child(1) a {
  background-image: url("../images/iphone_6s_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(1) a {
    background-image: url("../images/iphone_6s_medium.jpg");
    background-size: 640px 200px;
  }
}

@media screen and (max-width: 745px) {
  .aside li:nth-child(1) a {
    background-image: url("../images/iphone_6s_small.jpg");
    background-size: 736px 200px;
  }
}

.aside li:nth-child(2) a {
  background-image: url("../images/apple_tv_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(2) a {
    background-image: url("../images/apple_tv_medium.jpg");
    background-size: 640px 200px;
  }
}

@media screen and (max-width: 745px) {
  .aside li:nth-child(2) a {
    background-image: url("../images/apple_tv_small.jpg");
    background-size: 736px 200px;
  }
}

.aside li:nth-child(3) a {
  background-image: url("../images/macbook_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(3) a {
    background-image: url("../images/macbook_medium.jpg");
    background-size: 640px 200px;
  }
}

@media screen and (max-width: 745px) {
  .aside li:nth-child(3) a {
    background-image: url("../images/macbook_small.jpg");
    background-size: 736px 200px;
  }
}

.aside li:nth-child(4) a {
  background-image: url("../images/accessories_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(4) a {
    background-image: url("../images/accessories_medium.jpg");
    background-size: 640px 200px;
  }
}

@media screen and (max-width: 745px) {
  .aside li:nth-child(4) a {
    background-image: url("../images/accessories_small.jpg");
    background-size: 736px 200px;
  }
}

.aside li {
  border-right: 2px solid #fff;
  border-bottom: none;
}

.aside li:nth-child(4) {
  border-right: none;
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(2n) {
    border-right: none;
  }
  .aside li:nth-child(1), .aside li:nth-child(2) {
    border-bottom: 2px solid #fff;
  }
}

@media screen and (max-width: 745px) {
  .aside li {
    border-right: none;
    border-bottom: 2px solid #fff;
  }
  .aside li:nth-child(4) {
    border-bottom: none;
  }
}

.redcross-wrapper {
  text-align: center;
  font-family: "myriad normal";
}

.redcross-wrapper a {
  color: #08c;
  padding-left: 7px;
}

.redcross-wrapper .redcross-banner {
  display: inline-block;
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
}

.redcross-banner span {
  float: left;
  line-height: 50px;
  display: inline-block;
}

@media screen and (max-width: 745px) {
  .redcross-banner span {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .redcross-banner span a {
    display: block;
  }
}

.redcross-logo {
  height: 44px;
  width: 179px;
  margin-top: 5px;
  background: url("../images/redcross_banner_large.jpg") center center no-repeat;
}

.redcross-copy {
  color: #333;
  margin-left: 20px;
  border-left: 1px solid #d6d6d6;
  padding-left: 22px;
}

@media screen and (max-width: 745px) {
  .redcross-copy {
    border-left: none;
    margin: 0;
    padding: 0;
  }
}

.exchange {
  padding: 20px 0;
  text-align: center;
}

.footer {
  padding: 0 22px;
  background-color: #f2f2f2;
  font-family: "myriad normal";
  font-size: 12px;
}

.footer-inner {
  max-width: 980px;
  margin: 0 auto;
}

.footer .nav {
  padding-top: 32px;
}

.footer .nav input {
  display: none;
}

.footer .title {
  font-family: "myriad bold";
  font-weight: 600;
  color: #333;
}

@media screen and (max-width: 767px) {
  .footer .title {
    line-height: 38px;
    margin-bottom: 0;
  }
  .footer .title:hover {
    color: #000;
  }
  .footer .title::after {
    content: '＋';
    float: right;
    transition: .5s ease;
  }
}

.section {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer .section {
    margin-bottom: 0;
    border-bottom: 1px solid #e3e3e3;
  }
}

.footer .list {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .footer .list {
    display: none;
  }
  .footer .list li {
    padding: 5px 0;
  }
}

.footer .list .items {
  overflow: hidden;
  height: 20px;
  line-height: 20px;
}

.footer .list .items a {
  color: #666;
}

@media screen and (max-width: 767px) {
  #a {
    display: none;
  }
  #a:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #a:checked + .section h3:after {
    transform: rotate(45deg);
  }
  #b {
    display: none;
  }
  #b:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #b:checked + .section h3:after {
    transform: rotate(45deg);
  }
  #c {
    display: none;
  }
  #c:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #c:checked + .section h3:after {
    transform: rotate(45deg);
  }
  #d {
    display: none;
  }
  #d:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #d:checked + .section h3:after {
    transform: rotate(45deg);
  }
  #e {
    display: none;
  }
  #e:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #e:checked + .section h3:after {
    transform: rotate(45deg);
  }
  #f {
    display: none;
  }
  #f:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #f:checked + .section h3:after {
    transform: rotate(45deg);
  }
  #g {
    display: none;
  }
  #g:checked + .section .list {
    display: block;
    margin-top: 5px;
    padding-left: 10px;
  }
  #g:checked + .section h3:after {
    transform: rotate(45deg);
  }
}

.gf-footer {
  color: #999;
  padding: 20px 0 24px;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 767px) {
  .gf-footer {
    padding: 20px 0;
  }
}

.gf-footer a {
  color: #666;
}

.gf-footer .gf-footer-shop {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 6px;
  padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .gf-footer .gf-footer-shop {
    border-bottom: none;
  }
}

.gf-footer .gf-footer-shop a {
  color: #08c;
}

.gf-footer .gf-footer-shop a:hover {
  color: #222;
}

.gf-footer .gf-footer-locale {
  float: right;
  white-space: nowrap;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .gf-footer .gf-footer-locale {
    float: none;
  }
}

.gf-footer .gf-footer-locale .locale-flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/16.png") left center no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  float: left;
  padding-right: 5px;
}

@media screen and (max-width: 767px) {
  .gf-footer .gf-footer-legal {
    padding-top: 15px;
  }
}

.gf-footer .gf-footer-legal .legal-copyright {
  margin-top: 5px;
  margin-right: 26px;
  float: left;
}

@media screen and (max-width: 767px) {
  .gf-footer .gf-footer-legal .legal-copyright {
    float: none;
    margin-right: 0;
  }
}

.gf-footer .gf-footer-legal .legal-links {
  margin-top: 5px;
  margin-right: 26px;
  float: left;
}

@media screen and (max-width: 767px) {
  .gf-footer .gf-footer-legal .legal-links {
    float: none;
    margin-right: 0;
  }
}

.gf-footer .gf-footer-legal .legal-links .legal-link {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
  white-space: nowrap;
}

.gf-footer .gf-footer-legal .legal-links a:nth-child(5) {
  border-right: none;
}
