@charset "UTF-8";
*::after {
  content: '';
  clear: both;
  display: block;
}

/*自定义字体*/
@font-face {
  font-family: "HanHei-SC-semibold";
  src: local("HanHei-SC-semibold"), url("./fonts/HanHei-SC-semibold.woff") format("woff"), url("./fonts/HanHei-SC-semibold.eot") format("eot"), url("./fonts/HanHei-SC-semibold.ttf") format("tff"), url("./fonts/HanHei-SC-semibold.svg") format("svg");
}

@font-face {
  font-family: "HanHei-SC-text";
  src: local("HanHei-SC-text"), url("./fonts/HanHei-SC-text.woff") format("woff"), url("./fonts/HanHei-SC-text.eot") format("eot"), url("./fonts/HanHei-SC-text.ttf") format("tff"), url("./fonts/HanHei-SC-text.svg") format("svg");
}

@font-face {
  font-family: "HanHei-SC-thin";
  src: local("HanHei-SC-thin"), url("./fonts/HanHei-SC-thin.woff") format("woff"), url("./fonts/HanHei-SC-thin.eot") format("eot"), url("./fonts/HanHei-SC-thin.ttf") format("tff"), url("./fonts/HanHei-SC-thin.svg") format("svg");
}

@font-face {
  font-family: "appleicons_thin";
  src: local("appleicons_thin"), url("./fonts/appleicons_thin.woff") format("woff"), url("./fonts/appleicons_thin.eot") format("eot"), url("./fonts/appleicons_thin.ttf") format("tff"), url("./fonts/appleicons_thin.svg") format("svg");
}

@font-face {
  font-family: "appleicons_text";
  src: local("appleicons_text"), url("./fonts/appleicons_text.woff") format("woff"), url("./fonts/appleicons_text.eot") format("eot"), url("./fonts/appleicons_text.ttf") format("tff"), url("./fonts/appleicons_text.svg") format("svg");
}

body, ul, li, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  color: #8B8B8B;
  background-color: #FFF;
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
}

button {
  outline: none;
}

.aside {
  position: relative;
  max-width: 2560px;
  height: 200px;
  border-top: 2px solid white;
}

/*字体设置*/
#ac-globalfooter .ac-gf-directory-column-section-title {
  font-family: HanHei-SC-semibold;
}

#ac-globalfooter a {
  font-family: HanHei-SC-text;
}

#ac-globalfooter .ac-gf-footer-shop {
  font-family: HanHei-SC-text;
}

#ac-globalfooter .ac-gf-footer-legal-copyright {
  font-family: HanHei-SC-text;
}

#ac-globalfooter p {
  font-family: HanHei-SC-text;
}

.aside li:nth-child(4) a {
  border-right: none;
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(4) a .aside li:nth-child(2n) a {
    border-right: none;
  }
}

@media screen and (max-width: 735px) {
  .aside li:nth-child(4) a .aside li a {
    border-right: none;
  }
}

.aside a {
  display: block;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 360px 200px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

@media screen and (max-width: 1068px) {
  .aside a {
    background-size: 640px 200px;
  }
}

@media screen and (max-width: 735px) {
  .aside a {
    background-size: 736px 200px;
  }
}

.aside span {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
}

.aside li:nth-child(1) a {
  background-image: url("images/iphone_6s_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(1) a {
    background-image: url("images/iphone_6s_medium.jpg");
  }
}

@media screen and (max-width: 735px) {
  .aside li:nth-child(1) a {
    background-image: url("images/iphone_6s_small.jpg");
  }
}

.aside li:nth-child(2) a {
  background-image: url("images/promo_applepay_geo_alt_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(2) a {
    background-image: url("images/promo_applepay_geo_alt_medium.jpg");
  }
}

@media screen and (max-width: 735px) {
  .aside li:nth-child(2) a {
    background-image: url("images/promo_applepay_geo_alt_small.jpg");
  }
}

.aside li:nth-child(3) a {
  background-image: url("images/macbook_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(3) a {
    background-image: url("images/macbook_medium.jpg");
  }
}

@media screen and (max-width: 735px) {
  .aside li:nth-child(3) a {
    background-image: url("images/macbook_small.jpg");
  }
}

.aside li:nth-child(4) a {
  background-image: url("images/accessories_large.jpg");
}

@media screen and (max-width: 1068px) {
  .aside li:nth-child(4) a {
    background-image: url("images/accessories_medium.jpg");
  }
}

@media screen and (max-width: 735px) {
  .aside li:nth-child(4) a {
    background-image: url("images/accessories_small.jpg");
  }
}

/*
十二栅格思想
把任何一个100%宽度的元素平均分成12份   1份的宽度为8.3333%
每个元素都浮动
然后预定义类
使用这些类的元素就会在12网格中占据自己的份数
比如  large-6 就会占6份 也就是父容器的一半   一排两个
      large-3 就会占3份 也就是父容器的1/4    一排四个

然后再控制响应式
      屏幕大小发生变化时让不同的类生效
*/
.products {
  margin-top: 50px;
  min-height: 200px;
  border: 1px solid cornflowerblue;
}

.products li {
  float: left;
  height: 200px;
  border: 1px solid crimson;
  box-sizing: border-box;
}

/******用sass代码生成十二栅格响应式******/
.large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12, .medium-1, .medium-2, .medium-3, .medium-4, .medium-5, .medium-6, .medium-7, .medium-8, .medium-9, .medium-10, .medium-11, .medium-12, .small-1, .small-2, .small-3, .small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10, .small-11, .small-12, .with-5-columns .ac-gf-directory-column, .with-6-columns .ac-gf-directory-column, .with-7-columns .ac-gf-directory-column, .with-8-columns .ac-gf-directory-column, .with-9-columns .ac-gf-directory-column, .with-10-columns .ac-gf-directory-column {
  float: left;
  position: relative;
}

@media screen and (max-width: 2560px) {
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .medium-1 {
    width: 8.33333%;
  }
  .medium-2 {
    width: 16.66667%;
  }
  .medium-3 {
    width: 25%;
  }
  .medium-4 {
    width: 33.33333%;
  }
  .medium-5 {
    width: 41.66667%;
  }
  .medium-6 {
    width: 50%;
  }
  .medium-7 {
    width: 58.33333%;
  }
  .medium-8 {
    width: 66.66667%;
  }
  .medium-9 {
    width: 75%;
  }
  .medium-10 {
    width: 83.33333%;
  }
  .medium-11 {
    width: 91.66667%;
  }
  .medium-12 {
    width: 100%;
  }
}

@media screen and (max-width: 735px) {
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
}

/******用sass代码生成十二栅格响应式******/
/*下部响应式*/
.with-5-columns .ac-gf-directory-column {
  width: 20%;
}

.with-6-columns .ac-gf-directory-column {
  width: 16.66667%;
}

.with-7-columns .ac-gf-directory-column {
  width: 14.28571%;
}

.with-8-columns .ac-gf-directory-column {
  width: 12.5%;
}

.with-9-columns .ac-gf-directory-column {
  width: 11.11111%;
}

.with-10-columns .ac-gf-directory-column {
  width: 10%;
}

@media screen and (max-width: 1920px) {
  #ac-globalfooter #xuangou {
    display: none;
  }
  #ac-globalfooter #shop {
    display: none;
  }
  #ac-globalfooter #jiaoyu {
    display: none;
  }
  #ac-globalfooter #shangwu {
    display: none;
  }
  #ac-globalfooter #zhanghu {
    display: none;
  }
  #ac-globalfooter #guanyu {
    display: none;
  }
  #ac-globalfooter #jiazhiguan {
    display: none;
  }
}

#ac-globalfooter .shangwuyingyong {
  padding-top: 20px;
}

#ac-globalfooter .applejiazhiguan {
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  #ac-globalfooter .ac-gf-directory-column {
    width: 100%;
  }
  #ac-globalfooter .ac-gf-directory-column .shangwuyingyong {
    padding-top: 0;
  }
  #ac-globalfooter .ac-gf-directory-column .applejiazhiguan {
    padding-top: 0;
  }
  #ac-globalfooter .ac-gf-directory-column .ac-gf-directory-column-section-title {
    background: #f2f2f2;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    font-family: HanHei-SC-text;
    font-size: 14px;
    line-height: 2.78571;
    font-weight: 400;
    letter-spacing: normal;
    color: #333;
    margin: 0;
    border-bottom: 1px solid #E3E3E3;
  }
  #ac-globalfooter .ac-gf-directory-column .ac-gf-directory-column-section-title::after {
    content: '+';
    float: right;
    font-weight: normal;
    margin-right: 8px;
    transition: transform .3s ease;
  }
  #ac-globalfooter .ac-gf-directory-column .ac-gf-directory-column-section-list {
    display: none;
  }
}

#xuangou:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#xuangou:checked + label h3::after {
  transform: rotateZ(45deg);
}

#shop:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#shop:checked + label h3::after {
  transform: rotateZ(45deg);
}

#jiaoyu:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#jiaoyu:checked + label h3::after {
  transform: rotateZ(45deg);
}

#shangwu:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#shangwu:checked + label h3::after {
  transform: rotateZ(45deg);
}

#zhanghu:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#zhanghu:checked + label h3::after {
  transform: rotateZ(45deg);
}

#jiazhiguan:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#jiazhiguan:checked + label h3::after {
  transform: rotateZ(45deg);
}

#guanyu:checked + label + .ac-gf-directory-column-section-list {
  display: block;
}

#guanyu:checked + label h3::after {
  transform: rotateZ(45deg);
}

#ac-globalfooter {
  border-top: 1px solid white;
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: #666;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#ac-globalfooter .ac-gf-content {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
}

#ac-globalfooter .ac-gf-directory {
  padding-top: 32px;
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: normal;
  position: relative;
  z-index: 1;
}

#ac-globalfooter .ac-gf-directory-column {
  position: relative;
  z-index: 1;
  min-height: 2px;
  margin: 0;
  padding: 0;
  float: left;
}

#ac-globalfooter .ac-gf-directory-column .ac-gf-directory-column-section {
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 2px;
  margin: 0;
  float: left;
}

#ac-globalfooter .ac-gf-directory-column-section-list {
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

#ac-globalfooter .ac-gf-directory-column-section-item {
  display: block;
  pointer-events: auto;
}

#ac-globalfooter .ac-gf-directory-column-section-link {
  color: #666;
  text-decoration: none;
}

#ac-globalfooter .ac-gf-directory-column-section-title {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 600;
  letter-spacing: normal;
  color: #333;
  margin: 0;
}

#ac-globalfooter .ac-gf-footer {
  width: 100%;
  border-top: none;
  color: #999;
  padding: 20px 0 24px;
}

#ac-globalfooter .ac-gf-footer .ac-gf-footer-shop {
  border-bottom: 1px solid #e3e3e3;
  max-height: 9999px;
  margin-bottom: 6px;
  padding-bottom: 5px;
}

#ac-globalfooter .ac-gf-footer .ac-gf-footer-shop a {
  color: #08c;
}

#ac-globalfooter .ac-gf-footer-locale {
  float: right;
}

#ac-globalfooter .ac-gf-footer-locale .ac-gf-footer-locale-flag {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(images/16.png);
  padding-right: 5px;
  background-position: left center;
  cursor: pointer;
  float: left;
  margin-top: 1px;
}

#ac-globalfooter .nowrap {
  white-space: nowrap;
}

#ac-globalfooter .ac-gf-footer-legal-copyright {
  max-height: 9999px;
  margin-right: 26px;
  float: left;
}

#ac-globalfooter .ac-gf-footer-legal-links {
  margin-right: 26px;
}

#ac-globalfooter .ac-gf-footer-legal-links .ac-gf-footer-legal-link {
  float: left;
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
}

#ac-globalfooter .ac-gf-footer-legal-links .ac-gf-footer-legal-link:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

/*顶部*/
#ac-globalnav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin: 0;
  width: 100%;
  height: 48px;
  max-height: 44px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  -webkit-user-select: none;
}

#ac-globalnav .ac-gn-content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

#ac-globalnav .ac-gn-list {
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 44px;
  text-align: justify;
}

#ac-globalnav .ac-gn-list::after {
  content: '';
  width: 100%;
  display: inline-block;
}

#ac-globalnav .ac-gn-item {
  display: inline-block;
  position: relative;
  height: 44px;
  z-index: 1;
  vertical-align: top;
  transition: all 200ms;
}

#ac-globalnav .ac-gn-item:hover {
  opacity: 0.7;
}

#ac-globalnav .ac-gn-link-apple {
  background-repeat: no-repeat;
  background-size: 20px 44px;
  background-image: url(images/logo.svg);
  background-position: center center;
  width: 20px;
}

#ac-globalnav .ac-gn-link {
  font-size: 16px;
  line-height: 2.75;
  font-weight: 400;
  letter-spacing: normal;
  opacity: 1;
  color: #fff;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 44px;
  text-decoration: none;
  white-space: nowrap;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-tap-highlight-color: transparent;
  outline-offset: -7px;
}

#ac-globalnav .ac-gn-link-text {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#ac-globalnav .ac-gn-link-mac {
  background-repeat: no-repeat;
  background-image: url(images/mac.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 1.9375em;
  max-width: 52.7px;
}

#ac-globalnav .ac-gn-link-ipad {
  background-repeat: no-repeat;
  background-image: url(images/ipad.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 1.875em;
  max-width: 51px;
}

#ac-globalnav .ac-gn-link-iphone {
  background-repeat: no-repeat;
  background-image: url(images/iphone.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 3em;
  max-width: 81.6px;
}

#ac-globalnav .ac-gn-link-watch {
  background-repeat: no-repeat;
  background-image: url(images/watch.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 2.75em;
  max-width: 74.8px;
}

#ac-globalnav .ac-gn-link-music {
  background-repeat: no-repeat;
  background-image: url(images/music.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 2.5em;
  max-width: 68px;
}

#ac-globalnav .ac-gn-link-support {
  background-repeat: no-repeat;
  background-image: url(images/jishuyizhichi.svg);
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  width: 3.5625em;
  max-width: 96.9px;
}

#ac-globalnav .ac-gn-link-search {
  background-repeat: no-repeat;
  background-size: 20px 44px;
  background-image: url(images/sousuo.svg);
  background-position: center center;
  width: 20px;
}

#ac-globalnav .ac-gn-link-bag {
  background-repeat: no-repeat;
  background-size: 18px 44px;
  background-image: url(images/qianbao.svg);
  background-position: center center;
  width: 18px;
}

#ac-globalnav .ac-gn-header {
  display: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
}

#ac-globalnav .ac-gn-header .ac-gn-apple {
  position: absolute;
  width: 48px;
  top: 0;
  left: 50%;
  margin-left: -24px;
  text-align: center;
  z-index: 1;
}

#ac-globalnav .ac-gn-header .ac-gn-link-bag {
  background-repeat: no-repeat;
  background-size: 18px 44px;
  background-image: url(images/qianbao.svg);
  background-position: center center;
  width: 18px;
}

#ac-globalnav .ac-gn-header .ac-gn-link-text {
  left: 0;
  color: #fff;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
  z-index: 10;
}

#ac-globalnav .ac-gn-menuicon {
  right: 8px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 18px 44px;
  width: 18px;
  z-index: 2;
  top: 0;
  background-position: center center;
  background: url(images/sousuo.svg);
}

.small-list {
  background: black;
  width: 100%;
  height: 0;
  transition: all 1s linear .5s;
}

.small-list li {
  background: black;
  width: 85%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 1px solid #333333;
  z-index: 9999999;
  height: 48px;
  line-height: 48px;
}

.ac-gn-search-placeholder {
  position: relative;
  left: 30px;
  line-height: 48px;
  font-size: 20px;
  font-family: "微软雅黑", "宋体", "sans-serif";
  font-weight: 100;
}

@media screen and (max-width: 767px) {
  .small-list {
    display: none;
  }
  .page_below {
    display: block;
  }
}

@media screen and (max-width: 735px) {
  #ac-globalnav .ac-gn-list {
    display: none;
  }
  #ac-globalnav .ac-gn-header {
    display: block;
  }
}

.hero-gallery.evergreen {
  margin-top: 44px;
  height: 78%;
  min-height: 650px;
}

.hero-gallery {
  position: relative;
  overflow: hidden;
  margin-top: -46px;
  z-index: 2;
}

.hero-gallery .dotnav {
  bottom: 2%;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  text-align: center;
}

.hero-gallery .dotnav ul {
  pointer-events: auto;
  position: relative;
  display: inline-block;
}

.hero-gallery .dotnav li {
  list-style: none;
  margin: 0 10px;
  width: 8px;
  height: 8px;
  float: left;
  position: relative;
}

.dotnav-item {
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  outline: none;
  position: absolute;
  border-radius: 50%;
  background-color: #999;
  box-sizing: content-box;
  padding: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.dotnav-item.current {
  top: -1px;
  left: -1px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #08c;
  background-color: transparent;
  cursor: default;
}

.ac-gallery-slidecontainer {
  z-index: 1;
}

.hero-gallery-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
  display: block;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 6;
}

.hero-gallery .hero-content {
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .backing-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy {
  left: 50%;
  top: auto;
  vertical-align: bottom;
  height: 63%;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy {
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  overflow: visible;
  height: 100%;
  width: 800px;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.copy {
  pointer-events: none;
  position: relative;
  z-index: 4;
}

.copy::after {
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 0px;
  font-size: 0;
  margin: 0 -1000px;
  padding: 0;
  vertical-align: middle;
}

@media screen and (max-height: 1048px) and (max-width: 1441px) and (min-width: 1069px) {
  .ipad-pro-geo-heading .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner {
    padding-bottom: 170px;
  }
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner {
  position: absolute;
  top: 25px;
  width: 100%;
}

.hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .copy-inner {
  position: absolute;
  top: 25px;
  width: 100%;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner {
  position: absolute;
  top: 25px;
  width: 100%;
}

.ac-gallery-slidecontainer .centeralign {
  font-family: HanHei-SC-thin;
  color: #333;
}

.ac-gallery-slidecontainer .links {
  margin-top: 20px;
  font-family: HanHei-SC-thin;
}

.ac-gallery-slidecontainer .links a {
  color: #08c;
}

.hero-gallery .hero-content .copy-inner .product-pro {
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: 0;
  font-family: "HanHei-SC-semibold", "PingHei", "PingFang SC", "STHeitiSC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner .product-pro {
  background-size: 139px 37px;
  height: 37px;
  width: 139px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/ipad_pro_medium.png);
  margin-bottom: 0.25em;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner .product-pro {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
}

.hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .copy-inner .product-pro {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner * {
  text-align: center;
}

.hero-gallery .hero-content .copy-inner .product-text {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 300;
}

.centeralign {
  padding-left: 0.4em;
}

.hero-gallery .hero-content .copy-inner .links {
  font-size: 22px;
  line-height: 1.33333;
  font-weight: 300;
  letter-spacing: normal;
}

.hero-gallery .hero-content .copy-inner .links li {
  margin-bottom: 0.2em;
}

.copy .links li {
  display: inline-block;
  margin-left: 0.35em;
  margin-right: 0.35em;
}

.ac-gallery-slidecontainer .icon::after {
  top: 0;
  padding-left: 0.3em;
  display: inline-block;
  color: inherit;
  font-family: "AppleIcons";
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.ac-gallery-slidecontainer .icon-chevronright::after {
  font-family: appleicons_thin;
  top: -1.5px;
  content: "";
}

.ac-gallery-slidecontainer .icon-play::after {
  font-family: appleicons_thin;
  content: "";
  top: -2px;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-positioner {
  position: absolute;
  bottom: auto;
  right: auto;
  left: 0;
  top: 0;
  min-width: 315px;
  min-height: 195px;
  width: 50%;
  height: 66%;
  max-width: calc(100% - 315px);
  max-height: calc(100% - 195px);
}

.ipad-pro-geo-heading .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .hero-image-inner {
  margin-bottom: auto;
}

.ipad-pro-geo-heading .hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .hero-image-a .hero-image-inner {
  margin-bottom: auto;
}

.hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .hero-image-inner, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-element, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-positioner .hero-image-inner, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-positioner .homeguides-image-element {
  background-image: url(images/ipad_pro_family_medium.jpg);
  background-size: 1310px 541px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1310px;
  height: 541px;
  overflow: visible;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -315px;
  right: -665px;
}

@media screen and (max-width: 735px) {
  .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .hero-image-inner, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-element, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-positioner .hero-image-inner, .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .hero-image-a .homeguides-image-positioner .homeguides-image-element {
    background-image: url(images/ipad_pro_family_small.jpg);
    background-size: 440px 182px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 440px;
    height: 182px;
    overflow: visible;
    position: absolute;
    top: auto;
    left: auto;
    bottom: -160px;
    right: -200px;
  }
  .hero-gallery.evergreen {
    height: 50%;
    min-height: 347px;
  }
  .hero-gallery {
    margin-top: -48px;
  }
  .hero-gallery .hero-gallery-item-hero-ipad_pro_family .hero-content .copy-inner .product-pro {
    background-size: 106px 28px;
    margin-top: 25px;
    height: 28px;
    width: 106px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/ipad_pro_small.png);
    margin-bottom: 0.25em;
  }
  .hero-gallery .hero-content .copy-inner .product-text {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .hero-gallery .hero-content .copy-inner .links {
    font-size: 18px;
    line-height: 1.45;
    font-weight: 300;
    letter-spacing: normal;
  }
  .ac-gallery-slidecontainer .links {
    margin-top: 7px;
  }
  .hero-gallery .dotnav {
    bottom: 4%;
  }
}

.paddlenav.paddlenav-onhover {
  display: block;
}

.paddlenav {
  list-style: none;
  margin: 0;
}

html.no-touch .paddlenav-onhover .paddlenav-arrow {
  opacity: 1;
}

.paddlenav.paddlenav-onhover .paddlenav-arrow-previous {
  left: 18px;
}

.paddlenav.paddlenav-onhover .paddlenav-arrow {
  z-index: 2;
}

.paddlenav-arrow-previous {
  line-height: 128px;
  margin-top: -64px;
  top: 50%;
  width: 67px;
  height: 128px;
}

.paddlenav-arrow-previous::after {
  top: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  color: inherit;
  font-family: "appleicons_thin";
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;
  content: "";
}

.paddlenav-arrow {
  border: none;
  position: absolute;
  text-align: center;
  overflow: hidden;
  color: #666;
  background-color: transparent;
  border-radius: 4px;
  display: block;
  font-size: 72px;
  font-style: normal;
  font-weight: 200;
  opacity: .6;
  transition: 250ms opacity linear, 250ms color linear, 250ms background-color linear;
}

.paddlenav.paddlenav-onhover .paddlenav-arrow-next {
  right: 18px;
  line-height: 128px;
  margin-top: -64px;
  top: 50%;
  width: 67px;
  height: 128px;
}

.paddlenav.paddlenav-onhover .paddlenav-arrow-next::after {
  top: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  color: inherit;
  font-family: "appleicons_thin";
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;
  content: "";
}

.paddlenav.paddlenav-onhover .paddlenav-arrow {
  z-index: 2;
}

.paddlenav-arrow {
  position: absolute;
  text-align: center;
  overflow: hidden;
  color: #666;
  background-color: transparent;
  border-radius: 4px;
  display: block;
  font-size: 72px;
  font-style: normal;
  font-weight: 200;
  opacity: .6;
  transition: 250ms opacity linear, 250ms color linear, 250ms background-color linear;
}

.hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .copy-inner {
  margin-top: 55px;
}

.hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .copy-inner .product-pro {
  background-size: 184px 39px;
  height: 39px;
  width: 184px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/watch_medium.png);
  margin-bottom: 0.25em;
}

.ac-gallery-slidecontainer .hero-gallery-item-hero-apple_watch_trio .hero-content .hero-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ac-gallery-slidecontainer .hero-gallery-item-hero-apple_watch_trio .hero-content .hero-wrapper .hero-image-a {
  position: absolute;
  bottom: auto;
  right: auto;
  left: 0;
  top: 0;
  min-width: 316px;
  min-height: 171px;
  width: 50%;
  height: 68%;
  max-width: calc(100% - 316px);
  max-height: calc(100% - 171px);
}

.ac-gallery-slidecontainer .hero-gallery-item-hero-apple_watch_trio .hero-content .hero-wrapper .hero-image-inner {
  background-image: url(images/apple_watch_trio_medium.jpg);
  background-size: 671px 314px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 671px;
  height: 314px;
  overflow: visible;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -85px;
  right: -305px;
}

@media screen and (max-width: 735px) {
  .hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .copy-inner {
    margin-top: 25px;
  }
  .hero-gallery .hero-gallery-item-hero-apple_watch_trio .hero-content .copy-inner .product-pro {
    background-size: 144px 30px;
    height: 30px;
    width: 144px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/watch_small.png);
    margin-bottom: 0.25em;
  }
  .ac-gallery-slidecontainer .hero-gallery-item-hero-apple_watch_trio .hero-content .hero-wrapper .hero-image-inner {
    background-image: url(images/apple_watch_trio_small.jpg);
    background-size: 263px 134px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 263px;
    height: 134px;
    overflow: visible;
    position: absolute;
    top: auto;
    left: auto;
    bottom: -110px;
    right: -90px;
  }
}

.hero-gallery .hero-gallery-item-hero-iphone_se .hero-content .copy-inner {
  margin-top: 210px;
  margin-left: 400px;
}

.hero-gallery .hero-gallery-item-hero-iphone_se .hero-content .copy-inner .product-pro {
  background-size: 174px 39px;
  height: 39px;
  width: 174px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/iphone_se_medium.png);
  margin-bottom: 0.25em;
}

.ac-gallery-slidecontainer .hero-gallery-item-hero-iphone_se .hero-content .hero-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ac-gallery-slidecontainer .hero-gallery-item-hero-iphone_se .hero-content .hero-wrapper .hero-image-a {
  position: absolute;
  bottom: auto;
  right: auto;
  left: 0;
  top: 0;
  min-width: 316px;
  min-height: 171px;
  width: 50%;
  height: 68%;
  max-width: calc(100% - 316px);
  max-height: calc(100% - 171px);
}

.ac-gallery-slidecontainer .hero-gallery-item-hero-iphone_se .hero-content .hero-wrapper .hero-image-inner {
  background-image: url(images/iphone_se_medium.jpg);
  background-size: 580px 517px;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 580px;
  height: 517px;
  overflow: visible;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -115px;
  right: -40px;
}

@media screen and (max-width: 735px) {
  .hero-gallery .hero-gallery-item-hero-iphone_se .hero-content .copy-inner {
    margin-top: 90px;
    margin-left: 190px;
  }
  .hero-gallery .hero-gallery-item-hero-iphone_se .hero-content .copy-inner .product-pro {
    background-size: 137px 30px;
    height: 30px;
    width: 137px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/iphone_se_small.png);
    margin-bottom: 0.25em;
  }
  .ac-gallery-slidecontainer .hero-gallery-item-hero-iphone_se .hero-content .hero-wrapper .hero-image-inner {
    background-image: url(images/iphone_se_small.jpg);
    background-size: 200px 178px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 200px;
    height: 178px;
    overflow: visible;
    position: absolute;
    top: auto;
    left: auto;
    bottom: -55px;
    right: 50px;
  }
}
